  .CoachingRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70vh;
    overflow: scroll;
  }
  
  .CoachingHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .CoachingCol {
    margin: 0.5% !important;
    min-width: 240px;
    margin: 5px;
    min-height: 150px;
    border: 1px;
    border-radius: 3px;
    border-color: black;
    background-color: azure;
    justify-content: space-evenly; 
    align-items: center;
  }

  .LeftSide {
    justify-content: left;
    align-items: center;
  }

  .RightSide {
    justify-content: right; 
    align-items: center;
    margin-left: auto;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: aqua;
  }

  .PlanContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
